function Test.main 2
push constant 3
call String.new 1
push constant 100
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 100
call String.appendChar 2
call Keyboard.readInt 1
pop local 1
push local 1
call Array.new 1
pop local 0
push constant 0
return
